{% load static %}

{% block content %}

{% if uploaded_file_url and issue %}
    <p>We noticed the problem. Thank you! </p>
    <p>Please provide more information for further process. <a href="/app/info_form">Click Here</a></p>
    <img src="{{ uploaded_file_url }}" alt="Image" class="img-fluid">
{% elif uploaded_file_url and issue == false %}
    <p>This problem has already been solved. Thank you! </p>
    <p>If you think this issue is danger, please provide more information <a href="/app/info_form">Click Here</a></p>
    <img src="{{ uploaded_file_url }}" alt="Image" class="img-fluid">
{% else %}
    <p>Fail to upload image.</p>
     <a href="/app/">Click Here to upload the image again.</a>
{% endif %}

{% endblock %}